

# ==== 颜文字 - 常用 ====
#   🎉  :tada:  初始化/重大功能
#   ✨   :sparkles:  新功能追加
#   🚧  :construction:  工作进行中
#   🍱  :bento: 添加/更新asset
#   🎀  :ribbon:  UI/样式调整
#   💬  :speech_balloon:    更新文案
#   👽  :alien: 由于外部API更改而更新代码
#   👌  :ok_hand:   由于Review而更新代码
#   🎨  :art:   改进代码结构/格式
#   🐛  :bug:   修复bug
#   🚑  :ambulance: 紧急修复
#   ⚡️  :zap:   性能优化
#   🔨  :hammer:    重构
#   📈  :chart_with_upwards_trend:  添加分析或跟踪代码
#   ⏪   :rewind:    回退
#   🔀  :twisted_rightwards_arrows: 合并分支


# ==== 颜文字 - 附加 ====
#   🔧  :wrench:    修改配置文件
#   ➕   :heavy_plus_sign:   增加一个依赖
#   ➖   :heavy_minus_sign:  减少一个依赖
#   ⬇️  :arrow_down:    降级依赖
#   ⬆   :arrow_up:  升级依赖
#   🔒  :lock:  修复安全问题
#   🍎  :apple: 修复macOS下漏洞
#   🐧  :penguin:   修复linux下漏洞
#   🏁  :checkered_flag:    修复windows下漏洞
#   ✏️  :pencil2:   修复错别字
#   🚚  :truck: 移动/重命名文件
#   🔥  :fire:  移除代码/文件
#   ✅   :white_check_mark:  添加测试用例
#   💩  :poop:    代码很烂需要改进
#   🌐  :globe_with_meridians:  国际化与本地化
#   🔖  :bookmark:  发布/版本标签
#   🚀  :rocket:    部署功能
#   🐳  :whale: Docker相关工作
#   📦  :package:   更新编译后文件/包
#   📄  :page_facing_up:    添加/更新许可
#   👷  :construction_worker:   添加 CI 构建系统
#   💚  :green_heart:   修复 CI 构建问题
#   📝  :pencil:  撰写文档
#   🚨  :rotating_light:   移除 linter 警告
#   💥  :boom:  介绍破坏性变化
#   ♿   :wheelchair:    改善可访问性
#   💡  :bulb: 源码归档
#   🍻  :beers: 醉酒写代码


# ==== Format ====
# :emoji: Subject
#
# Commit body...

# ==== The Seven Rules ====
# 1. Separate subject from body with a blank line
# 2. Limit the subject line to 50 characters
# 3. Capitalize the subject line
# 4. Do not end the subject line with a period
# 5. Use the imperative mood in the subject line
# 6. Wrap the body at 72 characters
# 7. Use the body to explain what and why vs. how
